{% extends "AppCoder1/../base.html" %}

{% block contenidoCambia %}
    <h1>HOLA cURSOS</h1>
    {% if cursos %}
        {% for curso in cursos %}
            <p>Curso: {{ curso.name }}</p>
            <p>Camada: {{ curso.idc }}</p>
        {% endfor %}
    {% else %}
        <h4> No hay cursos en el momento</h4>
    {% endif %}


    <form action="{% url 'AppCoder1Curso' %}" method="POST" style="background-color: lightsteelblue" >
    {% csrf_token %}
    {{ forms.as_table }}
    <input type="submit" value="Guardar">
    </form>

    <form action="{% url 'AppCoderBusqCurso' %}" style="background-color: lightsteelblue" >
        {{ formsBusqCamada.as_ul }}
        <input type="submit" value="Buscar">

    </form>


{% endblock %}
