{% extends "AppCoder1/../base.html" %}

{% block contenidoCambia %}
    <h1>Listado alumnos de la academia.</h1>
    {% if alumnos %}
        {% for alumno in alumnos %}

            <p>{{ alumno }}</p>
        {% endfor %}
    {% else %}
        <h4> No hay alumnos cargados en este momento.</h4>
    {% endif %}

 <form action="{% url 'AppCoder1Alumno' %}" method="POST" style="background-color: lightsteelblue" >
    {% csrf_token %}
    {{ formsEstudiante.as_table }}
    <input type="submit" value="Guardar">
    </form>

    <form action="{% url 'AppCoder1BusqAlumno' %} " method="POST" style="background-color: lightsteelblue">
        {% csrf_token %}
        {{ formsBusqEst.as_table }}
        <input type="submit" value="Buscar">

    </form>

{% endblock %}
